<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.skilex.serviceprovider">

    <!-- Adding Internet Permission -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!--Hardware Permission-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--End-->

    <permission
        android:name="com.skilex.serviceprovider.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.skilex.serviceprovider.permission.MAPS_RECEIVE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBarLogin">

        <activity android:name=".activity.loginmodule.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.loginmodule.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarLogin"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.loginmodule.LoginActivity" />
        </activity>

        <activity
            android:name=".activity.loginmodule.RegisterActivity"
            android:label="@string/reg_action_bar"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.loginmodule.OTPVerificationActivity"
            android:label="@string/otp_action_bar"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.providerregistration.CategorySelectionActivity"
            android:label="@string/category_action_bar"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.providerregistration.OrganizationTypeSelectionActivity"
            android:label="@string/org_type_action_bar"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.providerregistration.RegisteredOrganizationInfoActivity"
            android:label="@string/reg_org_action_bar"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.providerregistration.RegOrgDocumentUploadActivity"
            android:label="@string/reg_doc_upload_action_bar"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.providerregistration.UnRegisteredOrganizationInfoActivity"
            android:label="@string/un_reg_org_action_bar"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.providerregistration.UnRegOrgDocumentUploadActivity"
            android:label="@string/un_reg_doc_upload_action_bar"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.providerregistration.InitialDepositActivity"
            android:label="@string/initial_deposit_action_bar"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.providerregistration.DocumentVerificationStatusActivity"
            android:label="@string/initial_deposit_action_bar"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.providerregistration.DocumentVerifySuccessActivity"
            android:label="@string/service_person_document_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.providerregistration.WelcomeActivity"
            android:label="@string/service_person_document_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarLogin"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.fragmentactivity.requested.RequestedServicesActivity"
            android:label="@string/requested_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.fragmentactivity.requested.RequestedServiceDetailActivity"
            android:label="@string/requested_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.fragmentactivity.cancelled.CancelRequestedServiceActivity"
            android:label="@string/cancel_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.fragmentactivity.assigned.AssignedServicesActivity"
            android:label="@string/assigned_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.fragmentactivity.assigned.AssignedServiceDetailActivity"
            android:label="@string/assigned_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.fragmentactivity.ongoing.OnGoingServicesActivity"
            android:label="@string/ongoing_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.fragmentactivity.completed.CompletedServicesActivity"
            android:label="@string/completed_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.fragmentactivity.cancelled.CancelledServicesActivity"
            android:label="@string/cancelled_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.fragmentactivity.cancelled.CancelledServiceDetailActivity"
            android:label="@string/cancelled_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.fragmentactivity.transaction.TransactionDetailsActivity"
            android:label="@string/transaction_details_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.serviceperson.ServicePersonCreationActivity"
            android:label="@string/service_person_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.serviceperson.ServicePersonDetailInfoActivity"
            android:label="@string/service_person_detail_info_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.serviceperson.ServicePersonDocumentUploadActivity"
            android:label="@string/service_person_document_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.serviceperson.DocUploadOnSuccessActivity"
            android:label="@string/service_person_document_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".ccavenue.activity.InitialScreenActivity" />
        <activity android:name=".ccavenue.activity.StatusActivity" />
        <activity android:name=".ccavenue.activity.WebViewActivity" />

        <activity
            android:name=".activity.LandingPageActivity"
            android:label="@string/dashboard"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.loginmodule.AboutUsActivity"
            android:label="@string/about_us"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.ProfileActivity"
            android:label="@string/completed_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.fragmentactivity.ongoing.InitiatedServiceActivity"
            android:label="@string/ongoing_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" />


        <service android:name=".fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".activity.loginmodule.GPSTracker" />

    </application>

</manifest>